
; begin auth token
//pkgs.dev.azure.com/OpenPlugoryNetwork/DreamMerchant-Portal/_packaging/DreamMerchantFeed/npm/registry/:username=OpenPlugoryNetwork
//pkgs.dev.azure.com/OpenPlugoryNetwork/DreamMerchant-Portal/_packaging/DreamMerchantFeed/npm/registry/:_password=RVJ1cVBrTmtaNWo1WVdFeXNCMElGSURKZWo2dnNsbzc2TGt3ZW1vZTRvN3JsZFJPR2dCS0pRUUo5OUJEQUNBQUFBQTdJenoyQUFBU0FaRE9IZjNa
//pkgs.dev.azure.com/OpenPlugoryNetwork/DreamMerchant-Portal/_packaging/DreamMerchantFeed/npm/registry/:email=support@michaellogic.com
//pkgs.dev.azure.com/OpenPlugoryNetwork/DreamMerchant-Portal/_packaging/DreamMerchantFeed/npm/:username=OpenPlugoryNetwork
//pkgs.dev.azure.com/OpenPlugoryNetwork/DreamMerchant-Portal/_packaging/DreamMerchantFeed/npm/:_password=RVJ1cVBrTmtaNWo1WVdFeXNCMElGSURKZWo2dnNsbzc2TGt3ZW1vZTRvN3JsZFJPR2dCS0pRUUo5OUJEQUNBQUFBQTdJenoyQUFBU0FaRE9IZjNa
//pkgs.dev.azure.com/OpenPlugoryNetwork/DreamMerchant-Portal/_packaging/DreamMerchantFeed/npm/:email=support@michaellogic.com
; end auth token