; begin auth token
//pkgs.dev.azure.com/BHEC-DA2/_packaging/DreamMerchant_Artfx/npm/registry/:username=BHEC-DA2
//pkgs.dev.azure.com/BHEC-DA2/_packaging/DreamMerchant_Artfx/npm/registry/:_password=aGVhaHY2aHJ2b3d6bXBucTNyZm01enlhNnV3eXViYmc0cnd4aTYzc3Zzemx1ejMzYWh3cQ==
//pkgs.dev.azure.com/BHEC-DA2/_packaging/DreamMerchant_Artfx/npm/registry/:email=support@michaellogic.com
//pkgs.dev.azure.com/BHEC-DA2/_packaging/DreamMerchant_Artfx/npm/:username=BHEC-DA2
//pkgs.dev.azure.com/BHEC-DA2/_packaging/DreamMerchant_Artfx/npm/:_password=aGVhaHY2aHJ2b3d6bXBucTNyZm01enlhNnV3eXViYmc0cnd4aTYzc3Zzemx1ejMzYWh3cQ==
//pkgs.dev.azure.com/BHEC-DA2/_packaging/DreamMerchant_Artfx/npm/:email=support@michaellogic.com
; end auth token

